*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{height: 100%;}
body{
    height: 100%;
    background-color: #e3e3e3;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto;
}
header{
    min-height: 86px;
}
footer{
    background-color: #363636;
    min-height: 86px;
}
.header_menu{
    background: #fff;
    display: flex;
    justify-content: space-between;
}
.header_menu-logo{
    margin-top:2rem;
    margin-left: 1rem;
}
.menu_navbar-opciones{
    display: flex;
    
    justify-content: space-between;
    margin:4rem;
    margin-bottom: 0;
    list-style: none;
}
.menu_navbar-opciones li a{
    text-decoration: none;
    color: black;
    font-size: 110%;
    margin: 2rem;
 
}
#hero-sector{
    min-height: 300px;
    background: linear-gradient(140deg,#47124b, rgb(89, 5, 167) );
    text-align: center;
}
.hero-sector h1{font-size: 7rem; color: white}
.col-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
}
.col-3 article{
    background: white;
    text-align: center;
    margin: 0.5rem;
    padding: 1rem;
}
